## 문제 1 : 로지스틱 회귀 
- titanic.csv 파일의 데이터를 이용하여 각 문제의 요구조건에 따라 답하시오.

In [1]:
##################################################
## 아래 코드를 실행하시오 (변경 금지)
##################################################
import pandas as pd
import numpy as np

#사이킷런의 로지스틱 회귀 라이브러리
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

### 문제 1-1) 타이타닉 데이터를 불러와서 앞의 5개만 보여주세요. (10점)

In [2]:
#타이타닉 데이터 불러오기
data = pd.read_csv("titanic.csv")
data.head()
#data = pd.read_csv('https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv')

#맨 앞의 데이터 10개 출력
#data.head(10)

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

### 문제 1-2) 타겟 데이터에 생존자 데이터를 저장하고 'Name', 'Survived'를 삭제하시오. 성별을  남자는 0, 여자는 1로 저장하시오 (10점)

In [4]:
#타겟 데아터 따로 저장
target = data['Survived']

data.drop(labels=['Name', 'Survived'], axis=1, inplace=True)

#성별 데이터를 숫자로 변환
data['Sex'] = data['Sex'].map({'male':0,
                               'female':1})

data

,Pclass,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,3,0,22.0,1,0,7.2500
1,1,1,38.0,1,0,71.2833
2,3,1,26.0,0,0,7.9250
3,1,1,35.0,1,0,53.1000
4,3,0,35.0,0,0,8.0500
...,...,...,...,...,...,...
882,2,0,27.0,0,0,13.0000
883,1,1,19.0,0,0,30.0000
884,3,1,7.0,1,2,23.4500
885,1,0,26.0,0,0,30.0000
886,3,0,32.0,0,0,7.7500

### 문제 1-3) 훈련데이터와 테스트데이터를 나눈시오. (테스트데이터 20%, random_state=42). (10점)

In [5]:
#훈련 데이터와 테스트 데이터 분리
train_input, test_input, train_target, test_target = train_test_split(
    data, target, random_state=42)

### 문제 1-4) 로지스틱 회귀 인스턴스 생성하고 모델을 훈련하시오 (10점

In [6]:
#로지스틱 회귀 인스턴스 생성
lr = LogisticRegression()
#훈련 데이터로 모델 훈련
lr.fit(train_input, train_target)

LogisticRegression()

### 문제 1-5) 데이터세트의 결과를 예측하고 출력하시. (10점)

In [7]:
#예측 결과 출력
print(lr.predict(test_input))
#변수 종류 출력
print(data.head(0))

[0 0 0 0 0 1 0 0 1 1 0 1 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 1 1 0 1 1 1 0 0
 0 1 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 1 0 0 0 1 0 0 0 1 0 0
 0 0 1 1 1 0 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 1 0 0 1 1 0 0 0 1 0 0 0 0 0 1 1
 0 0 1 0 0 1 1 0 0 0 0 0 0 1 0 0 1 1 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0
 0 0 0 0 0 0 1 1 0 1 1 0 1 0 0 0 0 1 0 1 0 0 1 1 0 0 0 1 1 0 0 0 0 1 1 0 1
 0 0 0 0 1 0 1 0 0 1 0 1 0 1 0 1 1 0 0 0 0 0 0 1 0 0 0 0 1 1 0 1 0 0 0 0 0]
Empty DataFrame
Columns: [Pclass, Sex, Age, Siblings/Spouses Aboard, Parents/Children Aboard, Fare]
Index: []

### 문제 1-6) 모델의 계수를 구하시오. (10점)

In [8]:
#각 특징(변수, feature)들의 가중치
print(lr.coef_)

[[-1.10859435  2.72436702 -0.04075253 -0.40155423 -0.091403    0.00334929]]

In [9]:
#print(lr.predict_proba(test_input[:5]))

### 문제 1-7) 내가 탔을 때를 가정한 조건 - (2등석 배에 탔고, 성별은 남자이며, 나이는 23세, 동생 1명과 함께 배를 탔고, 요금은 30.5$를 지불하였다.) 생존여부를 예측해보자.. (10점)

In [10]:
#내가 탔을 때를 가정한 조건 - 2등석 배에 탔고, 성별은 남자이며, 나이는 23세, 동생 1명과 함께 배를 탔고, 요금은 30.5$를 지불하였다. 
#생존여부를 예측해보자.
pred = lr.predict([[2, 0, 23.0, 1, 0, 30.5789]])

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [11]:
if(pred[0] == 0):
    print('AI : 사망하실 것으로 예측됩니다.\n')
else:
    print('AI : 생존하실 것으로 예측됩니다.\n')

#음성 클래스 / 양성 클래스의 확률
print('양성 클래스 / 음성 클래스 : {}'.format(lr.predict_proba([[2, 0, 23.0, 1, 0, 30.5789]])))

AI : 사망하실 것으로 예측됩니다.

양성 클래스 / 음성 클래스 : [[0.76345765 0.23654235]]

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(